//colors
$red-dark: #6e1a52;

$white: #fff;

$banner-background-color: #29303b;

$shadow: rgba(232, 233, 235, 0.5);

$shadow-header: rgba(69, 79, 99, 0.16);

$arrow-hover: #00576b;

$blue-dark: #004d5e;

$gray-light: #f2f3f5;
$gray-light-2: #f7f8fa;
$gray: #e8e9eb;
$gray-medium: #a1a7b3;
$gray-medium-2: rgba(41, 48, 59, 0.55);
$gray-dark: rgb(104, 111, 122);
$gray-dark-2: #333c44;

$button-red: #ec5252;
$button-red-hover: #992337;
$button-red-active: #521822;

$button-blue: #2727a4;
$button-blue-hover: #424261;
$button-blue-active: #0f0ff5;

$button-transparent-color: #505763;
$button-transparent-hover-background: rgba(20, 23, 28, 0.05);

$button-search-color: #dedfe0;

$button-bordered-color: #686f7a;
$button-bordered-border: #686f7a;

$button-mobile-login-color: #007791;
$button-mobile-login-hover-color: #003845;

$button-category-border: #007791;
$button-category-color: #14171c;
